/* FIGURA PRINCIPAL*/
.figPrincipal img{
    width: 100%;
}

/*VIOLÃO PERSONALIZADO*/
.violaoPersonalizado{
    background-image: url("../images/fundomain.png");
    background-repeat: no-repeat;
    background-position-x: 20%;
    height: 47em;
    width: 100%;
    text-align: center;
    padding: 10% 0 0 25%;
}

.violaoPersonalizado h2{
    font-size: 5em;
}
.violaoPersonalizado h3{
    font-size: 2.5em;
    margin-bottom: 0.7em;
}
.violaoPersonalizado a{
    color: #00359C;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0em 0.6em;
}

.tiposVioloes{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1em;
}

.containerVioloes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.containerVioloes div{
    width: 20em;
    height: 35em;
    background-color: white;
    color: black;
    margin: 1em;
    border-radius: 2em;
    align-content: center;
}

.containerVioloes div img{
    width: 100%;
}


.tiposVioloes h2{
    font-size: 3.5em;
    margin-bottom: 3em;
}