/* FIGURA PRINCIPAL*/
.figPrincipal img{
    width: 100%;
}

/*VIOLÃO PERSONALIZADO*/
.violaoPersonalizado{
    background-image: url("../images/fundomain.png");
    background-repeat: no-repeat;
    background-position-x: 20%;
    height: 47em;
    text-align: center;
    padding: 10% 0 0 25%;
}

.violaoPersonalizado h2{
    font-size: 5em;
}
.violaoPersonalizado h3{
    font-size: 2.5em;
    margin-bottom: 0.7em;
}
.violaoPersonalizado a{
    color: #00359C;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0em 0.6em;
}

.tiposVioloes{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1em;
}

.containerVioloes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.containerVioloes div{
    width: 20em;
    height: 35em;
    background-color: white;
    color: black;
    margin: 1em;
    border-radius: 2em;
    align-content: center;
}

.containerVioloes div h3{
    margin: 1em 0 0.5em 0;
}

.containerVioloes div p{
    margin: 0 2em;
}

.containerVioloes div img{
    width: 100%;
}

.tiposVioloes h2{
    font-size: 3.5em;
    margin-bottom: 3em;
}

@media screen and (max-width: 1200px){ 
    .violaoPersonalizado{
        background-size: 32em;
        background-position-x: 0;
        padding: 5em 0 0 22em;
    }
    .violaoPersonalizado h2{
        font-size: 4em;
    }
    .violaoPersonalizado h3{
        font-size: 2.2em;
    }
    .violaoPersonalizado a{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 750px){ 
    .tiposVioloes h2{
        font-size: 3em;
    }
    
    .violaoPersonalizado{
        background-position-x: -4em;
        background-size: 21em;
        padding: 5em 0 0 10em;
        height: 30em;
    }
    .violaoPersonalizado h2{
        font-size: 2em;
    }
    .violaoPersonalizado h3{
        font-size: 1em;
    }
    .violaoPersonalizado a{
        font-size: 1em;
    }
}
