* {box-sizing:border-box}

main{
    text-align: center;
}

/*COMPRA*/

.compra{
    padding: 4em 0;
    text-align: center;
}

.compra h2{
    font-size: 2.5em;
    margin: 1em;
}

.compra div{
    margin: 1em 0;
    
}

.compra div a{
    margin: 3em 3em;
}

.compra input{
    display: block;
    margin: 2em auto;
    color: white;
    background-color: #6A9454;
    width: 150px;
    height: 50px;
    font-size: 1.2em;
    border: none;
    border-radius: 3em;
}

/* GALERIA */

.galeriaviolao{
  background-color: #473030;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1.3em;
  padding: 8px 12px;
  position: absolute;
  top: 25%;
  left: 10%;
  width: 25%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* LUTHIERS */
.articleLuthiers{
  background-color: black;
  text-align: center;
  color: white;
  padding: 3em 0;
}

.articleLuthiers figure{ 
  margin: 3em 5em;
  position: relative;
}

.articleLuthiers figure img{ 
  width: 100%;
}

.textLuthier p{
  margin-bottom: 2em;
  text-align: left;
}

.textLuthier h2{
  text-align: left;
}

.textLuthier a{
  text-decoration: none;
  display: block;
  margin: 0.5em auto;
  color: white;
  background-color: #6A9454;
  width: 150px;
  height: 60px;
  font-size: 1.2em;
  border: none;
  border-radius: 0.7em;
  padding-top: 0.6em;
}

figure:nth-child(even) .textLuthier{
  color: color;
  font-size: 1.3em;
  padding: 8px 12px;
  position: absolute;
  top: 25%;
  left: 6%;
  width: 25%;
  text-align: center;
}

figure:nth-child(odd) .textLuthier{
  color: #f2f2f2;
  font-size: 1.3em;
  padding: 8px 12px;
  position: absolute;
  top: 25%;
  right: 5%;
  width: 25%;
  text-align: center;
}

/* CONTATO */
.fContato{
  background-image: url("../images/fundocontato.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 48em;
  color: white;
  text-align: left;
  padding: 5em 0 0 5em;
}

.fContato form{
  font-size: 1.6em;
}

.fContato form div{
  margin: 1em 0;
}

.fContato form input{
  width: 23.5em;
  height: 3.2em;
}

.fContato form label{
  display: block;
}

.fContato textarea{
  width: 23.5em;
  height: 9em;
}

.fContato input[type=submit]{
  display: block;
  color: white;
  background-color: #6A9454;
  width: 145px;
  height: 45px;
  font-size: 0.7em;
  margin: 0.6em 0 0.8em 9.5em;
  border: none;
  border-radius: 10px;
}

address{
  margin: 7em 0 2em 0;
}

@media screen and (max-width: 1200px){
  .text {
    color: #f2f2f2;
    font-size: 1em;
    padding: 8px 12px;
    position: absolute;
    top: 25%;
    left: 5%;
    width: 40%;
    text-align: center;
  }
  
  .textLuthier a{
    display: inline;
    margin: auto 0.5em 0 0;
    font-size: 0.9em;
    padding: 1em 1em;
  }

  figure:nth-child(even) .textLuthier{
    background-color: rgb(15, 15, 15);
    position: initial;
    color: #f2f2f2;
    font-size: 1em;
    padding: 1em 0 2em 1em;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
  }
  
  figure:nth-child(odd) .textLuthier{
    background-color: rgb(15, 15, 15);
    position: initial;
    color: #f2f2f2;
    font-size: 1em;
    padding: 1em 0 2em 1em;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
  }

  .fContato form{
    font-size: 1.1em;
  }
  
  .fContato input[type=submit]{
    width: 130px;
    height: 45px;
    font-size: 0.9em;
    margin: 0.6em 0 0.8em 11.5em;
  }
  
  address{
    margin: 7em 0 2em 0;
  }
}

@media screen and (max-width: 720px){
  .text {
    color: #f2f2f2;
    font-size: 0.7em;
    padding: 8px 12px;
    position: absolute;
    top: 15%;
    left: 5%;
    width: 45%;
    text-align: center;
  }

  .articleLuthiers figure{ 
    margin: 3em;
    position: relative;
  }

  .textLuthier a{
    font-size: 0.9em;
  }

  figure:nth-child(even) .textLuthier{
    font-size: 1em;
  }
  
  figure:nth-child(odd) .textLuthier{
    font-size: 1em;
  }

  .fContato{
    padding: 2em 0 0 1em;
  }

  .compra div a{
    margin: 3em 0;
}

  .compra textarea{
    width: 95%;
}

}