@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}

html{
    font-family: 'Roboto', sans-serif;
}

/* CABEÇALHO */
header{
    background-color: #624242;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

header li{
    display: inline;
    margin: 0 1em;
}

header nav{
    margin: auto 0;
}

header nav a{
    text-decoration: none;
    color: white;
}

/* RODAPÉ */

footer{
    background-color: #624242;
    text-align: center;
    padding: 1em;
    color: white;
}

.footerContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    margin: 1em 0 2em 0;
}

.footerContainer div{
    width: 25%;
    margin: 0 auto;
}

.footerContainer div:nth-child(odd) img{
    width: 96px;
    margin: 1em;
}

.footerContainer div:nth-child(even) img{
    width: 116px;
    margin: 1em;
}

@media screen and (max-width: 600px){ 
    
    .footerContainer{
        flex-direction: column;
    }
    
    .footerContainer div:nth-child(1), .footerContainer div:nth-child(2){
        width: 50%;
        margin-bottom: 6em;
    }
    
    .footerContainer div:nth-child(3){
        width: 50%;
        margin-bottom: 2em;
    }
}
