*{margin: 0; padding: 0; box-sizing: border-box;}

/* CABEÇALHO */
header{
    background-color: #624242;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

header li{
    display: inline;
    margin: 0 1em;
}

header nav a{
    text-decoration: none;
    color: white;
}

/* RODAPÉ */

footer{
    background-color: #624242;
    text-align: center;
    padding: 1em;
    color: white;
}

.footerContainer{
    display: flex;
	flex-wrap: wrap;
    text-align: center;
    color: white;
    margin: 1em 0 2em 0;
}

.footerContainer div{
    width: 25%;
    margin: 0 auto;
}

.footerContainer div:nth-child(odd) img{
    width: 96px;
    margin: 1em;
}

.footerContainer div:nth-child(eve) img{
    width: 116px;
    margin: 1em;
}
